.s-flex__row
  display: flex
  box-sizing: border-box

.s-flex__col
    flex: 1
    width: 100%
    padding: $column-padding
    box-sizing: border-box

@media #{$medium-and-down}
  .s-flex__row
    display: block
