// ==============================================
//             Extremes Colors
// ==============================================
$niceBlack  : #222222;
$niceWhite  : #EEEEEE;
$niceGrey   : #F4F5F6;
$transparent: transparent;
$black      : #000000;
$white      : #FFFFFF;


$niceWhiteTransparent: rgba(238,238,238, .2);
$niceWhiteForms: rgba(238,238,238, .8);

// ==============================================
//             Primary Colors
// ==============================================
$niceBlue  : #30499B;
$niceRed   : #EE4035;
$niceYellow: #F0A32F;

// ==============================================
//            Secondary Colors
// ==============================================
$niceGreen : #56B949;
$nicePeach : #FFB98D;
$nicePurple: #844D9E;

// ==============================================
//         Complementary Colors
// ==============================================
$complementaryGreen : #15CE3C;
$complementaryPurple: #6C2BD6;
$complementaryBrown : #C46B00;

// ==============================================
//         More Nice Colors
// ==============================================
$niceOrange: #F0A32F;

.niceMarry{
  @include niceBackground($niceBlue, $nicePurple);
}

.niceMarryDark{
  @include niceBackground(darken($niceBlue, 25%), $complementaryPurple);
}

.niceSunThree{
  @include niceBackground($niceGreen, $nicePeach);
}

.niceCoral{
  @include niceBackground($niceGreen, $niceBlue);
}

.niceBluePeach{
  @include niceBackground($niceBlue, $nicePeach);
}
.niceBluePeachDark{
  @include niceBackground(darken($niceBlue, 25%), $nicePeach);
}

.niceSundown{
  @include niceBackground($niceBlue, $niceRed);
}

.niceRose{
  @include niceBackground($niceRed, lighten($niceRed, 25%));
}

.niceRealPeach{
  @include niceBackground($niceRed, $nicePeach);
}

.niceBlue{
  @include niceBackground($niceBlue, darken($niceBlue, 25%));
}