// ==============================================
//             Extremes Colors
// ==============================================
$niceBlack  : #222222;
$niceWhite  : #EEEEEE;
$niceGrey   : #606C76;
$transparent: transparent;
$black      : #000000;
$white      : #FFFFFF;


$niceWhiteTransparent: rgba(238,238,238, .3);

// ==============================================
//             Primary Colors
// ==============================================
$niceBlue  : #0086C4;
$niceRed   : #CE152D;
$niceYellow: #D6CF2B;

// ==============================================
//            Secondary Colors
// ==============================================
$niceGreen : #00EEB7;
$nicePeach : #FFB98D;
$nicePurple: #B469BC;

// ==============================================
//         Complementary Colors
// ==============================================
$complementaryGreen : #15CE3C;
$complementaryPurple: #6C2BD6;
$complementaryBrown : #C46B00;

.niceMarry{
  @include niceBackground($niceBlue, $nicePurple);
}

.niceMarryDark{
  @include niceBackground(darken($niceBlue, 25%), $complementaryPurple);
}

.niceSunThree{
  @include niceBackground($niceGreen, $nicePeach);
}

.niceCoral{
  @include niceBackground($niceGreen, $niceBlue);
}

.niceBluePeach{
  @include niceBackground($niceBlue, $nicePeach);
}

.niceSundown{
  @include niceBackground($niceBlue, $niceRed);
}

.niceRose{
  @include niceBackground($niceRed, lighten($niceRed, 25%));
}

