// ==============================================
//               Flexible Grid
// ==============================================
.flexRow{
  display: flex;
  & .column{
    flex: 1;
    width: 100%;
    padding: $columnPadding;
    box-sizing: border-box;
  }
}

@media #{$smallAndDown} {
  .flexRow{
    display: block;
  }
}

// ==============================================
//               Container
// ==============================================

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media #{$mediumAndUp} {
  .container {
    width: 85%;
  }
}
@media #{$largeAndUp} {
  .container {
    width: 70%;
  }
}
