.listView{
  display: block;
  width: 100%;

  & > .item{
    display: block;
    width: 100%;
    color: $niceBlack;
    border-top: 1px solid $niceWhite;
    padding: 10px 20px;
    box-sizing: border-box;
    &:active{
      background: darken($niceWhite, 5%)
    }
    @media #{$largeAndUp} {
      &:hover{
        background: $niceWhite;
      }
    }
  }
}