@mixin niceBackground($fistColor, $lastColor){
  $niceBackgroundAngle: 135deg;
  background: -webkit-linear-gradient($niceBackgroundAngle, $fistColor, $lastColor) !important;
  background: -moz-linear-gradient($niceBackgroundAngle, $fistColor, $lastColor) !important;
  background: -o-linear-gradient($niceBackgroundAngle, $fistColor, $lastColor) !important;
  background: linear-gradient($niceBackgroundAngle, $fistColor, $lastColor) !important;
}
@mixin niceTransition($properties...){
  transition-property: $properties;
  transition-duration: $transitionTime;
}
