/**
  * Variables

  * Colors
  * Typography
  * Media Queries
  * Grid
  * Nice Background
  * Radius
  * Button

*/


// ==============================================
//                   Colors
// ==============================================
$primaryColor: $niceBlue !default;
$primaryColorLight: lighten($primaryColor, 15%) !default;
$primaryColorDark: darken($primaryColor, 15%) !default;

$secondaryColor: lighten($nicePurple, 15%) !default;
$successColor: $niceGreen !default;
$errorColor: darken($niceRed, 15%) !default;
$linkColor: lighten($niceBlue, 10%) !default;

// ==============================================
//                Typography
// ==============================================
$h1Size: 2.0em;
$h2Size: 1.5em;
$h3Size: 1.2em;
$h4Size: 1.0em;
$h5Size: 0.9em;
$h6Size: 0.8em;

$paragraphSize: 1em;

$fontLight: 200;
$fontFit  : 400;
$fontFat  : 600;

// ==============================================
//              Media Queries
// ==============================================

$smallScreenUp : 601px !default;
$mediumScreenUp: 993px !default;
$largeScreenUp : 1201px !default;

$smallScreen   : 600px !default;
$mediumScreen  : 992px !default;
$largeScreen   : 1200px !default;

$mediumAndUp   : "only screen and (min-width : #{$smallScreenUp})" !default;
$largeAndUp    : "only screen and (min-width : #{$mediumScreenUp})" !default;

$smallAnd-down : "only screen and (max-width : #{$smallScreen})" !default;
$mediumAnd-down: "only screen and (max-width : #{$mediumScreen})" !default;

$mediumOnly    : "only screen and (min-width : #{$smallScreenUp}) and (max-width : #{$mediumScreen})" !default;

// ==============================================
//                  Grid
// ==============================================

$columnPadding: 5px;

// ==============================================
//            Nice Background
// ==============================================

$niceBackgroundAngle: 135deg;

// ==============================================
//            Transition
// ==============================================

$transitionTime: 300ms;

// ==============================================
//            Radius
// ==============================================

$radiusLight: 8px;
$radiusFit: 12px;
$radiusFat: 52px;

// ==============================================
//            Button
// ==============================================
$buttonPadding: 10px;
