/**
  * Variables

  * Colors
  * Typography
  * Media Queries
  * Grid
  * Nice Background
  * Radius
  * Button

*/


// ==============================================
//                   Colors
// ==============================================
$primaryColor: $niceBlue !default;
$primaryColorLight: lighten($primaryColor, 15%) !default;
$primaryColorDark: darken($primaryColor, 15%) !default;

$secondaryColor: darken($niceYellow, 15%) !default;
$successColor: $niceGreen !default;
$errorColor: darken($niceRed, 15%) !default;
$waningColor: $niceYellow;
$linkColor: lighten($secondaryColor, 10%) !default;

// ==============================================
//                Typography
// ==============================================
$h1Size: 2.2em;
$h2Size: 1.5em;
$h3Size: 1.2em;
$h4Size: 1.0em;
$h5Size: 0.9em;
$h6Size: 0.8em;

$paragraphSize: 1em;

$fontLight: 200;
$fontFit  : 400;
$fontFat  : 600;

// ==============================================
//              Media Queries
// ==============================================

$smallScreenUp : 601px !default;
$mediumScreenUp: 993px !default;
$largeScreenUp : 1201px !default;

$smallScreen   : 600px !default;
$mediumScreen  : 992px !default;
$largeScreen   : 1200px !default;

$mediumAndUp   : "only screen and (min-width : #{$smallScreenUp})" !default;
$largeAndUp    : "only screen and (min-width : #{$mediumScreenUp})" !default;

$smallAndDown : "only screen and (max-width : #{$smallScreen})" !default;
$mediumAndDown: "only screen and (max-width : #{$mediumScreen})" !default;

$mediumOnly    : "only screen and (min-width : #{$smallScreenUp}) and (max-width : #{$mediumScreen})" !default;

// ==============================================
//                  Grid
// ==============================================

$columnPadding: 5px;

$columnNumber: 12 !default;
$spaceBetween: 1.5em !default;
$spaceTop: $spaceBetween/3 !default;
$spaceBottom: ($spaceBetween*2)/3 !default;

// ==============================================
//            Transition
// ==============================================

$transitionTime: 300ms;

// ==============================================
//            Radius
// ==============================================

$radiusNone : 2px;
$radiusLight: 8px;
$radiusFit  : 12px;
$radiusFat  : 52px;

$defaultPadding: 10px;

// ==============================================
//            Shadow
// ==============================================
$shadowInset: 0px;
$shadowHoff: 0px;
$shadowBlur: 6px;
$shadowCardHoff: 4px;

// ==============================================
//            ListView
// ==============================================

$listViewImageSize: 2.5em;