/**
  * Variables

  * Colors
  * Typography
  * Media Queries
  * Grid
  * Nice Background
  * Radius
  * Button

//

// ==============================================
//                   Colors
// ==============================================
$color-primary     : $blue !default
$color-primaryLight: lighten($color-primary, 15%) !default
$color-primaryDark : darken($color-primary, 15%) !default

$color-secondary: darken($purple, 15%) !default
$color-success  : $green !default
$color-error    : darken($red, 15%) !default
$color-warning  : $yellow
$linkColor      : lighten($color-secondary, 10%) !default

// ==============================================
//                Typography
// ==============================================
$font   : 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

$h1-size: 2.2em
$h2-size: 1.5em
$h3-size: 1.2em
$h4-size: 1.0em
$h5-size: 0.9em
$h6-size: 0.8em

$paragraph-size: 1em

$font-light  : 300
$font-regular: 400
$font-bold   : 700

// ==============================================
//              Media Queries
// ==============================================

$smallScreenUp : 601px !default
$mediumScreenUp: 993px !default
$largeScreenUp : 1201px !default

$smallScreen   : 600px !default
$mediumScreen  : 992px !default
$largeScreen   : 1200px !default

$mediumAndUp   : "only screen and (min-width : #{$smallScreenUp})" !default
$largeAndUp    : "only screen and (min-width : #{$mediumScreenUp})" !default

$smallAndDown  : "only screen and (max-width : #{$smallScreen})" !default
$mediumAndDown : "only screen and (max-width : #{$mediumScreen})" !default

$mediumOnly    : "only screen and (min-width : #{$smallScreenUp}) and (max-width : #{$mediumScreen})" !default

// ==============================================
//                  Grid
// ==============================================

$columnPadding: 5px

$columnNumber: 12 !default
$spaceBetween: 1.5em !default
$spaceTop: $spaceBetween/3 !default
$spaceBottom: ($spaceBetween*2)/3 !default

// ==============================================
//            Transition
// ==============================================

$transitionTime: 300ms

// ==============================================
//            Button
// ==============================================
$button-height: 36px !default
$button-padding: 2em !default

// ==============================================
//            Radius
// ==============================================

$radiusNone : 2px
$radiusLight: 8px
$radiusFit  : 12px
$radiusFat  : 52px

$defaultPadding: 10px

// ==============================================
//            Shadow
// ==============================================
$shadowInset   : 0px
$shadowHoff    : 0px
$shadowBlur    : 6px
$shadowCardHoff: 4px

// ==============================================
//            ListView
// ==============================================

$listViewImageSize: 2.5em