// ==============================================
//            Hyperlinks
// ==============================================
a {
  color: $linkColor;
  text-decoration: none;
  @include niceTransition(color);

  &:hover{
    color: darken($linkColor, 15%);
  }

  &:active{
    color: darken($linkColor, 20%);
  }
}

// ==============================================
//            Default Button
// ==============================================
.button{
  display: inline-block;

  background: transparent;
  border: solid 1px $primaryColor;
  color: $primaryColor;

  padding: $defaultPadding $defaultPadding*2;
  border-radius: $radiusFat;

  cursor: pointer;

  @include niceTransition(color, background, border);

  &:hover{
    color: $niceWhite;
    background: $primaryColor;
  }
  &:active{
    background: darken($primaryColor, 15%);
  }
  &:focus{
    @include niceBoxshadow($shadowInset, $shadowHoff, $shadowBlur,$primaryColor);
  }
  &.solid{
    background-color: $primaryColor;
    color: $white;
    &:hover{
      color: $niceWhite;
      background: lighten($primaryColor, 15%);
    }
    &:active{
      background: darken($primaryColor, 25%);
    }
  }
// ==============================================
//            Primary Button
// ==============================================
  &.primary{
    border: solid 1px $primaryColor;
    color: $primaryColor;

    &:hover{
      color: $niceWhite;
      background: $primaryColor;
    }
    &:active{
      background: darken($primaryColor, 15%);
    }
    &:focus{
      @include niceBoxshadow($shadowInset, $shadowHoff, $shadowBlur,$primaryColor);
    }
    &.solid{
      background-color: $primaryColor;
      color: $white;
      &:hover{
        color: $niceWhite;
        background: lighten($primaryColor, 15%);
      }
      &:active{
        background: darken($primaryColor, 25%);
      }
    }
  }
  // ==============================================
  //            Secondary Button
  // ==============================================
  &.secondary{
    border: solid 1px $secondaryColor;
    color: $secondaryColor;
    &:hover{
      color: $niceWhite;
      background: $secondaryColor;
    }
    &:active{
      background: darken($secondaryColor, 15%);
    }
    &:focus{
      @include niceBoxshadow($shadowInset, $shadowHoff, $shadowBlur,$secondaryColor);
    }
    &.solid{
      background-color: $secondaryColor;
      color: $white;
      &:hover{
        color: $niceWhite;
        background: lighten($secondaryColor, 15%);
      }
      &:active{
        background: darken($secondaryColor, 25%);
      }
    }
  }
  // ==============================================
  //            Danger Button
  // ==============================================
  &.danger{
    border: solid 1px $niceRed;
    color: $niceRed;
    &:hover{
      color: $niceWhite;
      background: $niceRed;
    }
    &:active{
      background: darken($niceRed, 15%);
    }
    &:focus{
      @include niceBoxshadow($shadowInset, $shadowHoff, $shadowBlur,$niceRed);
    }
    &.solid{
      background-color: $niceRed;
      color: $white;
      &:hover{
        color: $niceWhite;
        background: lighten($niceRed, 15%);
      }
      &:active{
        background: darken($niceRed, 25%);
      }
    }
  }
// ==============================================
//            Warning Button
// ==============================================
  &.warning{
    border: solid 1px $niceYellow;
    color: $niceYellow;
    &:hover{
      color: $niceWhite;
      background: $niceYellow;
    }
    &:active{
      background: darken($niceYellow, 15%);
    }
    &:focus{
      @include niceBoxshadow($shadowInset, $shadowHoff, $shadowBlur, $niceYellow);
    }
    &.solid{
      background-color: $niceYellow;
      color: $white;
      &:hover{
        color: $niceWhite;
        background: lighten($niceYellow, 15%);
      }
      &:active{
        background: darken($niceYellow, 25%);
      }
    }
  }
// ==============================================
//            Success Button
// ==============================================
  &.success{
    border: solid 1px $niceGreen;
    color: $niceGreen;
    &:hover{
      color: $niceWhite;
      background: $niceGreen;
    }
    &:active{
      background: darken($niceGreen, 15%);
    }
    &:focus{
      @include niceBoxshadow($shadowInset, $shadowHoff, $shadowBlur, $niceGreen);
    }
    &.solid{
      background-color: $niceGreen;
      color: $white;
      &:hover{
        color: $niceWhite;
        background: lighten($niceGreen, 15%);
      }
      &:active{
        background: darken($niceGreen, 25%);
      }
    }
  }
// ==============================================
//              Blur Button
// ==============================================
  &.blur{
    background: $niceWhiteTransparent;
    color: $niceWhite;
    border: none;

    &:hover{
      color: $niceWhite;
      background: darken($niceWhiteTransparent, 25%);
    }
    &:active{
      background: darken($niceWhiteTransparent, 50%);
    }
    &:focus{
      @include niceBoxshadow($shadowInset, $shadowHoff, $shadowBlur, $niceWhiteTransparent);
    }
  }

// ==============================================
//                Sizes
// ==============================================
  &.small {
    padding: $defaultPadding/2 $defaultPadding;
  }
  &.large {
    padding: $defaultPadding $defaultPadding*2;
    font-size: $h2Size;
  }
  &.block {
    width: 100%;
    box-sizing: border-box;
  }
// ==============================================
//                Modifiers
// ==============================================
  &:disabled{
    background: darken($niceGrey, 15%) !important;
    border: solid 1px darken($niceGrey, 15%) !important;
    color: darken($niceGrey, 50%) !important;
    cursor: not-allowed;
  }
}
