// ==============================================
//                    Card
// ==============================================
.card{
  background-color: $white;
  border: 1px solid darken($grey-light, 30%);
  border-radius: $radius-light;
  margin: $default-padding/2;
  @include box-shadow($shadowInset, $shadowCardHoff, $shadowBlur, darken($grey-light, 15%));
  // =============================================
  //                Card Header
  // ==============================================
  & >.header{
    border-top-left-radius: $radius-light;
    border-top-right-radius: $radius-light;
    padding: $default-padding $default-padding*2;
    font-size: $h2-size;
    font-weight: $font-light;
    &.image{
      display: flex;
      align-items: flex-end;
      padding: 0;
      overflow: hidden;
      border-top-left-radius: $radius-light;
      border-top-right-radius: $radius-light;

      & > span{
        position: absolute;
        padding: $default-padding;
      }

      & > img{
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  // ==============================================
  //                Card Content
  // ==============================================
  & > .content{
    padding: $default-padding;
  }

  // ==============================================
  //                Card Modifiers
  // ==============================================

  &.primary{
    border: 1px solid $color-primary;
    &.solid{
      background: $color-primary;
      color: $white;
    }
  }

  &.secondary{
    border: 1px solid $color-secondary;
    &.solid{
      background: $color-secondary;
      color: $white;
    }
  }

  &.danger{
    border: 1px solid $color-error;
    &.solid{
      background: $color-error;
      color: $white;
    }
  }

  &.warning{
    border: 1px solid $color-warning;
    &.solid{
      background: $color-warning;
      color: $white;
    }
  }

  &.success{
    border: 1px solid $color-success;
    &.solid{
      background: $color-success;
      color: $white;
    }
  }

  &.disabled{
    background: darken($grey-light, 15%) !important;
    border: solid 1px darken($grey-light, 15%) !important;
    color: darken($grey-light, 50%) !important;
    cursor: not-allowed;
    filter: grayscale(100%);
  }
}
