.formControl {
  width: 100%;
  box-sizing: border-box;
  padding: $defaultPadding $defaultPadding*2;
  margin: 0 0;

  background: $niceWhiteForms;

  border: 1px solid lighten($niceGrey, 15%);
  border-radius: $radiusLight;
  resize: none;

  @include niceTransition(border, background);

  &:hover{
    border: 1px solid $niceGrey;
  }
  &:focus{
    border: 1px solid $primaryColor;
    background: $white;
  }
  &:disabled{
    background: darken($niceGrey, 15%);
    cursor: not-allowed;
  }

}
