.s-field
  width: 100%
  box-sizing: border-box
  padding: $default-padding $default-padding*2
  margin: $default-padding/2 0
  background-color: transparentize($white, 0.2)
  border: 2px solid darken($grey-light, 20%)
  resize: none
  font-family: $font
  +border-radius($radius-light)
  +niceTransition(border, background, transform)

  &:hover
    border-color: darken($grey-light, 30%)
    background-color: transparentize($white, 0.1)

  &:focus
    border-color: $color-primary
    background: $white
    outline: none
    transform: scale(1.01)

.s-field:disabled,
.s-field--disabled
    border-color: darken($grey-light, 20%)
    background: darken($white, 15%)
    cursor: not-allowed

+x-field('primary', $color-primary)
+x-field('secondary', $color-secondary)
+x-field('danger', $color-error)
+x-field('warning', $color-warning)
+x-field('success', $color-success)
