.s-list
  display: block
  width: 100%
  font-weight: $font-light

.s-list__item
  display: flex
  width: 100%
  color: $black
  border-top: 1px solid $grey-light
  padding: $default-padding $default-padding*2
  text-decoration: none
  box-sizing: border-box
  +niceTransition(background)

  &:active
    background: darken($white, 5%)

  &:hover
    background: darken($grey-light, 2%)

.s-list__item--disabled
  background: darken($white, 15%)
  cursor: not-allowed
  color: darken($white, 50%)

  &:hover
    background: darken($white, 15%)

.s-list__header
  display: block
  font-size: $h6-size
  background: darken($white, 5%)
  text-transform: uppercase
  width: 100%
  padding: $default-padding/2 $default-padding*2
  box-sizing: border-box

