.s-navbar
  width: 100%
  margin: 0
  padding: 0
  overflow: auto
  white-space: nowrap
  background: $color-primary

.s-navbar__item
  display: inline-block
  color: $white
  text-align: center
  padding: $default-padding
  margin: 0
  text-decoration: none
  +niceTransition(background-color)
  font-weight: $font-light

  &:hover
    background: darken($niceWhiteTransparent, 25%)

  &:active
    background: darken($niceWhiteTransparent, 50%)

  &.s-navbar__item--logo
    font-size: $h4-size
    padding: $default-padding/1.5 $default-padding $default-padding
    font-weight: $font-regular

.s-navbar--fixed
  position: fixed

.s-navbar--primary
    background-color: $color-primary

.s-navbar--secondary
    background-color: $color-secondary

.s-navbar--blur
    background: $niceWhiteTransparent

.s-navbar--danger
    background-color: $color-error

.s-navbar--success
    background-color: $color-success

.s-navbar--warning
    background-color: $color-warning
