.table{
    width: 100%;
    border-spacing: 0;

    & tr th{
        padding: $default-padding $default-padding/4 $default-padding/2;
        border-bottom: 3px solid $color-primary;
    }
    & tr td{
        padding: $default-padding $default-padding/2 $default-padding/2;
        border-bottom: 1px solid darken($white, 15%);
    }
    &.striped tr:nth-child(even){
        background-color: $white;
    }
    &.clean{
        & tr td{
            border-bottom: 1px solid $transparent;
        }
    }

    &.hoverCell{
        & tr td:hover{
            background-color: $white;
        }
    }

    &.hoverRow{
        & tr:hover{
            background-color: $white;
        }
    }

    &.responsive{
        overflow: auto;
    }
}
