*
  font-family: $font

h1, .s-h1,
h2, .s-h2,
h3, .s-h3,
h4, .s-h4,
h5, .s-h5,
h6, .s-h6
  margin-top: 0
  margin-bottom: .5rem
  font-family: inherit
  font-weight: 500
  line-height: 1.1
  color: inherit

h1, .s-h1
  font-size: $h1-size
  font-weight: $font-light

h2, .s-h2
  font-size: $h2-size
  font-weight: $font-regular

h3, .s-h3
  font-size: $h3-size
  font-weight: $font-bold

h4, .s-h4
  font-size: $h4-size
  font-weight: $font-bold

h5, .s-h5
  font-size: $h5-size
  font-weight: $font-bold

h6, .s-h6
  font-size: $h6-size
  font-weight: $font-bold

.s-text
  font-size: $paragraph-size
  font-weight: $font-light
  margin: $default-padding 0

.s-text--indent
  text-indent: 2em

.s-text--white
  color: $white

.s-text--black
  color: $black

.s-text--left
  text-align: left

.s-text--center
  text-align: center

.s-text--right
  text-align: right

.s-text--justify
  text-align: justify
