*
  font-family: $font

h1
  font-size: $h1-size
  font-weight: $font-light

h2
  font-size: $h2-size
  font-weight: $font-regular

h3
  font-size: $h3-size
  font-weight: $font-bold

h4
  font-size: $h4-size
  font-weight: $font-bold

h5
  font-size: $h5-size
  font-weight: $font-bold

h6
  font-size: $h6-size
  font-weight: $font-bold

.s-text
  font-size: $paragraph-size
  font-weight: $font-light
  margin: $default-padding 0

.s-text--indent
  text-indent: 2em

.s-text--white
  color: $white

.s-text--black
  color: $black

.s-text--center
  text-align: center

.s-text--right
  text-align: right

.s-text--justify
  text-align: justify
